@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3e2f4e;
  color: #eee;
  user-select: none;
}



.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .btn {
    margin-bottom: 10px;
  }
  .neverending .container {
    display: flex;
    flex-direction: column;
  }
  .box {
    margin-bottom: 30px;
  }
  #product .row {
    flex-direction: column;
  }
  #learn .row2 {
    flex-direction: column;
  }
  #about .row {
    flex-direction: column;
  }
  .container {
    margin: 0;
  }
    a {
    color: red;
  }
}

.context h1{
    text-align: center;
    color: rgba(255,255,255,0.5);
  font-border: 1px solid rgba(255, 255, 255, 0.65);
    font-size: 50px;
    backdrop-filter: blur(10px);
}


.area{}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 80px;
  border: 1px solid rgba(255, 255, 255, 0.18);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.container .btn {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .btn1 {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 300px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .container .btn1 a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 30px;
        padding: 10px;
        letter-spacing: 1px;
        text-decoration: none;
        overflow: hidden;
        color: #fff;
        font-weight: 400px;
        z-index: 1;
        transition: 0.5s;
        backdrop-filter: blur(15px);
    }



    .container .btn1 a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
        transform: skewX(45deg) translate(0);
        transition: 0.5s;
        filter: blur(0px);
    }

    .container .btn1:hover a::before {
        transform: skewX(45deg) translate(200px);
    }

    .container .btn1::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        bottom: -5px;
        width: 30px;
        height: 10px;
        background: #f00;
        border-radius: 10px;
        transition: 0.5s;
        transition-delay: 0.5;
    }

    .container .btn1:hover::before /*lightup button*/ {
        bottom: 0;
        height: 50%;
        width: 80%;
        border-radius: 30px;
    }

    .container .btn1::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        top: -5px;
        width: 30px;
        height: 10px;
        background: #f00;
        border-radius: 10px;
        transition: 0.5s;
        transition-delay: 0.5;
    }

    .container .btn1:hover::after /*lightup button*/ {
        top: 0;
        height: 50%;
        width: 80%;
        border-radius: 30px;
    }

    .container .btn1:nth-child(1)::before, /*chnage 1*/
    .container .btn1:nth-child(1)::after {
        background: #ff1f71;
        box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71, 0 0 60px #ff1f71;
    }

    .container .btn1:nth-child(2)::before, /* 2*/
    .container .btn1:nth-child(2)::after {
        background: #2db2ff;
        box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff, 0 0 60px #2db2ff;
    }

    .container .btn1:nth-child(3)::before, /* 3*/
    .container .btn1:nth-child(3)::after {
        background: #1eff45;
        box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45, 0 0 60px #1eff45;
    }
    .container .btn1:nth-child(4)::before, /* 4*/
    .container .btn1:nth-child(4)::after {
        background: #2db2ff;
        box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff, 0 0 60px #2db2ff;
    }





    .container .btn a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 30px;
        padding: 10px;
        letter-spacing: 1px;
        text-decoration: none;
        overflow: hidden;
        color: #fff;
        font-weight: 400px;
        z-index: 1;
        transition: 0.5s;
        backdrop-filter: blur(15px);
    }

    .container .btn:hover a {
        letter-spacing: 3px;
    }

    .container .btn a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
        transform: skewX(45deg) translate(0);
        transition: 0.5s;
        filter: blur(0px);
    }

    .container .btn:hover a::before {
        transform: skewX(45deg) translate(200px);
    }

    .container .btn::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        bottom: -5px;
        width: 30px;
        height: 10px;
        background: #f00;
        border-radius: 10px;
        transition: 0.5s;
        transition-delay: 0.5;
    }

    .container .btn:hover::before /*lightup button*/ {
        bottom: 0;
        height: 50%;
        width: 80%;
        border-radius: 30px;
    }

    .container .btn::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        top: -5px;
        width: 30px;
        height: 10px;
        background: #f00;
        border-radius: 10px;
        transition: 0.5s;
        transition-delay: 0.5;
    }

    .container .btn:hover::after /*lightup button*/ {
        top: 0;
        height: 50%;
        width: 80%;
        border-radius: 30px;
    }

    .container .btn:nth-child(1)::before, /*chnage 1*/
    .container .btn:nth-child(1)::after {
        background: #ff1f71;
        box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71, 0 0 60px #ff1f71;
    }

    .container .btn:nth-child(2)::before, /* 2*/
    .container .btn:nth-child(2)::after {
        background: #2db2ff;
        box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff, 0 0 60px #2db2ff;
    }

    .container .btn:nth-child(3)::before, /* 3*/
    .container .btn:nth-child(3)::after {
        background: #1eff45;
        box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45, 0 0 60px #1eff45;
    }


.container {
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

    .container .box {
        position: relative;
        width: 320px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 30px;
        transition: 0.5s;
    }

        .container .box::before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 50px;
            width: 50%;
            height: 100%;
            text-decoration: none;
            background: #fff;
            border-radius: 8px;
            transform: skewX(15deg);
            transition: 0.5s;
        }

        .container .box::after {
            content: '';
            position: absolute;
            top: 0;
            left: 50;
            width: 50%;
            height: 100%;
            background: #fff;
            border-radius: 8px;
            transform: skewX(15deg);
            transition: 0.5s;
            filter: blur(30px);
        }

        .container .box:hover:before,
        .container .box:hover:after {
            transform: skewX(0deg);
            left: 20px;
            width: calc(100% - 90px);
        }

        .container .box:nth-child(1):before,
        .container .box:nth-child(1):after {
            background: linear-gradient(315deg, #ffbc00, #ff0058)
        }

        .container .box:nth-child(2):before,
        .container .box:nth-child(2):after {
            background: linear-gradient(315deg, #03a9f4, #ff0058)
        }

        .container .box:nth-child(3):before,
        .container .box:nth-child(3):after {
            background: linear-gradient(315deg, #4dff03, #00d0ff)
        }

        .container .box span {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
            pointer-events: none;
        }

            .container .box span::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                border-radius: 8px;
                background: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(10px);
                opacity: 0;
                transition: 0.1s;
                animation: animate 2s ease-in-out infinite;
                box-shadow: 0 5px 15px rgba(0,0,0,0.08)
            }

        .container .box:hover span::before {
            top: -50px;
            left: 50px;
            width: 100px;
            height: 100px;
            opacity: 1;
        }

        .container .box span::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            opacity: 0;
            transition: 0.5s;
            animation: animate 2s ease-in-out infinite;
            box-shadow: 0 5px 15px rgba(0,0,0,0.08);
            animation-delay: -1s;
        }

        .container .box:hover span:after {
            bottom: -50px;
            right: 50px;
            width: 100px;
            height: 100px;
            opacity: 1;
        }

@keyframes animate {
    0%, 100% {
        transform: translateY(10px);
    }

    50% {
        transform: translate(-10px);
    }
}

.container .box .content {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
}


.container .box .content h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

.container .box .content p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.container .box .content a {
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}

    .container .box .content a:hover {
        background: #ffcf4d;
        border: 1px solid rgba(255, 0, 88, 0.4);
        box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
    }

* {
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.content_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    marign: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
}


.card_bg {
    background: url(https://i.ibb.co/M9LB3Kq/Glassmorphism-Background.png);
    background-size: cover;
    padding: 0;
    width: 40vw;
    height: 40vh;
    background-color: #eee;
    top: 0;
    left: 0;
}

.card1 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-radius: 30px;
    margin: 15px;
    background: linear-gradient(315deg, #d04141, #be00ff);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card2 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-radius: 30px;
    margin: 15px;
    background: linear-gradient(315deg, #FFCC70 0%, #C850C0 46%, #4158D0 100%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card3 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-radius: 30px;
    margin: 15px;
    background: linear-gradient(315deg, #ff03f7, #00d0ff);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

sup {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    text-transform: capitalize;
}

.location {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    /* identical to box height */
    text-transform: capitalize;
    color: #000;
}

.degree {
    font-size: 28px;
    line-height: 10px;
    /* identical to box height */
    text-transform: capitalize;
    color: #23226B;
    font-family: 'Poppins',sans-serif;
}

.weather-status {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffad1c;
    font-family: 'Poppins',sans-serif;
}

.card-image img {
    width: 100px;
    height: 100px;
}


.container {
    top: 50%;
    left: 50%;
}

form {
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

    form p {
        font-weight: 500;
        color: #fff;
        opacity: 0.7;
        font-size: 1.4rem;
        margin-top: 0;
        margin-bottom: 60px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    form a {
        text-decoration: none;
        color: #ddd;
        font-size: 12px;
    }

        form a:hover {
            text-shadow: 2px 2px 6px #00000040;
        }

        form a:active {
            text-shadow: none;
        }

    form input {
        background: transparent;
        width: 200px;
        padding: 1em;
        margin-bottom: 2em;
        border: none;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 5000px;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
        color: #000;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

        form input:hover {
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
        }

        form input[type=email]:focus, form input[type=password]:focus, form input[type=name]:focus {
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
        }

        form input[type=button] {
            margin-top: 10px;
            width: 150px;
            font-size: 1rem;
        }

            form input[type=button]:hover {
                cursor: pointer;
            }

            form input[type=button]:active {
                background: rgba(255, 255, 255, 0.2);
            }



::-moz-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

:-ms-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.drop {
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: all 0.2s ease;
}

.drop-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
}

.drop-2 {
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: -10px;
}

.drop-3 {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -50px;
    z-index: -1;
}

.drop-4 {
    height: 120px;
    width: 120px;
    top: -60px;
    right: -60px;
}

.drop-5 {
    height: 60px;
    width: 60px;
    bottom: 170px;
    left: 90px;
    z-index: -1;
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.row {
    display: flex;
    justify-content: center;
}

.row2 {
    justify-content: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nft {
  user-select: none;
  max-width: 300px;
  margin: 5rem auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
}
.nft hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}
.nft ins {
  text-decoration: none;
}
.nft .main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}
.nft .main .tokenImage {
  border-radius: 0.5rem;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}
.nft .main .description {
  margin: 0.5rem 0;
  color: #a89ec9;
}
.nft .main .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nft .main .tokenInfo .price {
  display: flex;
  align-items: center;
  color: #ee83e5;
  font-weight: 700;
}
.nft .main .tokenInfo .price ins {
  margin-left: -0.3rem;
  margin-right: 0.5rem;
}
.nft .main .tokenInfo .duration {
  display: flex;
  align-items: center;
  color: #a89ec9;
  margin-right: 0.2rem;
}
.nft .main .tokenInfo .duration ins {
  margin: 0.5rem;
  margin-bottom: 0.4rem;
}
.nft .main .creator {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}
.nft .main .creator ins {
  color: #a89ec9;
  text-decoration: none;
}
.nft .main .creator .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  padding: 0.3rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}
.nft .main .creator .wrapper img {
  border-radius: 100%;
  border: 1px solid #ffffff22;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin: 0;
}
.nft ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}
.nft:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}
.nft:hover ::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg h1 {
  font-size: 20rem;
  filter: opacity(0.5);
}
/* importing Poppins font from Google cdn */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* CSS Common for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}


/* CSS For Cards & It's Components */
.cards-container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    position: relative;
    width: 350px;
    height: 450px;
}

.img-container {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 300px;
    height: 100%;
    border-radius: 25px;
    /* border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5); */
    border: 2px solid rgba(0, 0, 0, 0.1);
    /* border-top: 2px solid rgba(0, 0, 0, 0.15);
    border-left: 2px solid rgba(0, 0, 0, 0.15); */
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    padding: 40px 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.title-container {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.title-container h2 {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    color: #ffff;
    letter-spacing: 1px;
}

.img-container img {
    margin-top: 60px;
    width: 85%;
    transition: all 0.25s;
}

.img-container img:hover {
    cursor: pointer;
    transform: scale(1.15);
}


/* CSS for the colored circles */
.product-color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.color-title-heading {
    color: #ffff;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.product-color li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 20px;
    border: 1px solid white;
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
    background: #ffff;
    color: #000000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.25s;
}

.color-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.product-color li:hover {
    transform: scale(1.1);
}

.product-color li:nth-child(1) {
    background: #FF605C;
    background: rgb(6, 7, 61);
}

.product-color li:nth-child(2) {
    background: #FFBD44;
    background: rgb(105, 50, 14);
}

.product-color li:nth-child(3) {
    background: #00CA4E;
    background: rgb(0, 0, 0);
}

.product-color li:nth-child(4) {
    background: rgb(255, 45, 85);
}


/* CSS for the Add To Cart Button */
.cart-button {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #000000;
    border-radius: 25px;
    color: #ffff;
    cursor: pointer;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

.cart-icon {
    font-size: 1.5rem;
    transition: 0.25s;
}

.cart-button:hover .cart-icon {
    transform: translateX(5px);
}